@font-face {
  font-family: Starjedi;
  src: url('./fonts/Starjedi.ttf');
}

html {
  text-align: center;
}

ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style-type: lower-greek;
}

li {
  padding: 10px;
}

.spam {
  text-transform: uppercase;
}

body {
  background-color: rgb(100, 100, 100);
  background-image: url('../fundo-star-wars\ \(1\)\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

h1 {
  font-family: Starjedi , cursive;
}

.table {
  max-height: 50vh;
  overflow: scroll;
}

.table::-webkit-scrollbar {
  background: #444955;
  border-radius: 20px;
  height: 7px;
  width: 7px;
}

.table::-webkit-scrollbar-corner {
  background-color: #444955;
  border-bottom-right-radius: 20px;
}

.table::-webkit-scrollbar-thumb {
  background: #1f2227;
  border-radius: 20px;
}

thead {
  background-color: #06080c;
  border: 1px solid wheat;
  left: 0;
  position: relative;
  right: 0;
}

th {
  padding: 20px 50px;
}

tbody {
  background-color: #1f2227;
}

td {
  padding: 20px;
}

.title-star p {
  font-family: Starjedi , cursive;
  font-size: 8em;
  line-height: 1em;
  margin: 0;/* -webkit-text-stroke: 2px white;
  color: rgba(255, 255, 255, 0); */
}

.title-star > div {
  align-items: center;
  border: 1px solid yellow;
  border-radius: 100%;
  display: flex;
  height: 700px;
  justify-content: center;
  width: 700px;
}

.title-star > div > div {
  border: 1px solid;
  border-color: (white 0% , rgba(255, 255, 255, 0) 94.26%);
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 500px;
}

.title-star {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: -80px;
}

#filled-search {
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
  height: 42px;
  left: 302px;
  opacity: 0.5;
  top: 761px;
  width: 671px;
}

#filter-value {
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 17px;
  opacity: 0.5;
  width: 140px;
}

.filters-numbers {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
